*{
    margin: 0;
    padding: 0;
	border: 0;
	font-family: 'Space Grotesk', sans-serif;
	list-style-type: none;
}

@media only screen and (max-width: 480px) {
	
/*----------main----------*/


#LogoSharts-page{
	display: block;
	width: 30%;
	margin: 80px auto 20px;
}

h1{
	font-size: 1.4rem;
	text-align: center;
	font-weight: 600;
	margin-bottom: 50px;
}

/*----------formulario----------*/

form{
	margin: 0 5vw;
}

form input{
	display: block;
	background-color: #d8d7d7;
	font-size: 1.2rem;
	padding: 0 5vw;
	margin: 15px 0;
	border-radius: 10px;
	width: 80vw;
	height: 50px;
	color: #2b2b2b;
	outline: 0;
}

form input[type="date"]{
	display: block;
	padding: auto 0;
}

form input::placeholder{
	margin-top: 10px;
	font-size: 1.2rem;
}

label{
	font-size: 1.1rem;
}

.termos-e-condicoes{
	display: flex;
	font-size: 0.95rem;
	top: 570px;
	width: 90vw;
	height: 30px;
	margin: 25px auto;
}

.termos-e-condicoes p{
	margin-left: 10px;
	margin-top: 5px;
	color: #363636;
}

.termos-e-condicoes a{
	margin-top: 5px;
	color: #f7334e;
}

#termos-check{
	margin-top: -3.1%;
	width: 20px;
}

form button{
	width: 90vw;
	font-size: 1.1rem;
	background-color: #f7334e;
	border-radius: 10px;
	padding: 10px 50px;
	color: white;
}

#ou{
	font-size: 1.2rem;
	color: #363636;
	margin-top: 50px;
	text-align: center;
}


/*----------Login alternativo----------*/

.login-alternativo{
	text-align: center;
	margin-bottom: 70px;
}

.login-alternativo button{
	font-size: 1.1rem;
	padding: 0 8vw 0 11vw;
	margin: 15px 0;
	border: 2px solid black;
	border-radius: 10px;
	width: 80vw;
	height: 50px;
	outline: 0;
}

.fzr-login button{
	border: 0;
	background: rgb(255,0,188);
	background: linear-gradient(90deg, rgba(255,0,188,1) 0%, rgba(255,112,1,1) 100%);
	color: white;
}

/*rgba(255,112,1,1)rgba(255,0,188,1)*/

.fzr-login a{
	text-decoration: none;
}

.login-alternativo img{
	position: absolute;
	margin: 28px 0 0 15px;
	width: 25px;
	height: 25px;
}


}
