*{
    margin: 0;
    padding: 0;
	border: 0;
	font-family: 'Space Grotesk', sans-serif;
	list-style-type: none;
}

@media only screen and (min-width: 481px) {

    header {
        background-color: #121212;
        width: 100%;
        height: 52px;
    }

    .menu span,
    input {
        display: block;
    }

    #LogoSharts img {
        float: left;
        order: 1;
        margin: 8px;
        width: 79.11px;
        height: 38.05px;
    }

    .menu input {
        position: absolute;
        top: -100vw;
    }

    .perfil-login{
        display: flex;
        align-items: center;
        float: right;
        font-size: 0.8rem;
    }

    #entrar-btn{
        float: right;
        color: white;
        text-decoration: none;
        align-items: center;
    }

    #IconePerfil img {
        width: 38px;
        margin: 8px;
        float: right;
    }

    .perfil-login:hover {
        opacity: .8;
    }

    nav ul {
        float: left;
        order: 2;
        padding: 14px 14px;
    }

    .menu a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .menu li {
        position: relative;
        display: inline-block;
        font-size: 0.8rem;
        margin-left: 30px;
    }

    .menu li:hover {
        border-bottom: 3px solid #f7334e;
        transition-duration: 0.1s;
    }

    /*---Rodapé---*/

    footer {
        background-color: #424242;
        height: 550px;
    }

    .blocofooter {
        width: 90vw;
        margin: 100px auto 0 auto;
        padding-top: 1vw;
    }

    .ShartsGroup {
        margin-top: 20px;
        display: flex;
        align-items: center;
        width: 90vw;
    }

    #LogoShartsFooter {
        float: left;
        margin: 0px 0;
        width: 10%;
    }

    footer h2 {
        color: white;
        margin-left: 5px;
        float: left;
    }

    .redes-sociais-contato {
        margin-left: auto;
    }

    .redes-sociais-contato img {
        float: right;
        margin-left: 20px;
        width: 30px;
    }


    footer li {
        margin: 20px 0;
        color: white;
    }

    footer a {
        text-decoration: none;
        color: white;
    }

}